<div class="h-24 z-50 relative container mx-auto px-6 grid grid-cols-3"></div>

<div
  class="w-full h-24 bg-yellow-900 bg-opacity-95 absolute top-0 left-0"
></div>

<div class="-mt-24 relative w-full py-12 px-12">
  <div class="relative z-10 text-center py-24 md:py-48"></div>

  <img
    src="header.png"
    class="w-full h-full absolute inset-0 object-top object-cover"
  />
</div>

<div class="grid grid-cols-1 md:grid-cols-2">
  <div class="bg-white p-12 md:p-24 flex justify-end items-center">
    <a href="">
      <img src="1.jpg" class="w-full max-w-md" />
    </a>
  </div>

  <div class="bg-gray-100 p-12 md:p-24 flex justify-start items-center">
    <div class="max-w-md">
      <div class="w-24 h-2 bg-yellow-800 mb-4"></div>
      <h2 class="font-display font-bold text-2xl md:text-3xl lg:text-4xl mb-6">
        Kampung Kuliner Pring Kuning
      </h2>
      <p
        class="font-light text-gray-600 text-sm md:text-base mb-6 leading-relaxed"
      >
        Para Pengusaha kuliner Kawasan Mangga yang masuk di wilayah kelurahan
        Bunulrejo RT.02 RW.13 (dulu disebut kawasan Pring Kuning) bersepakat
        menjadikan kawasan jalan Sultan Hadiwijaya sebagai Kampung Kuliner Pring
        Kuning
      </p>
      <a
        target="_blank"
        href="https://kelbunulrejo.malangkota.go.id/kampung-kuliner-pring-kuning-rw-13-bunulrejo-kreativitas-warga-rw-13-bunulrejo-explore-bunulrejo-bunulrejo-mbois/"
        class="inline-block border-2 border-yellow-800 font-light text-yellow-800 text-sm uppercase tracking-widest py-3 px-8 hover:bg-yellow-800 hover:text-white"
        >Lebih Lanjut</a
      >
    </div>
  </div>
</div>

<img src="2.jpg" class="w-full h-screen object-cover" />
<div class="max-w-xl mx-auto text-center py-24 md:py-32 px-6">
  <div class="w-24 h-2 bg-yellow-800 mb-4 mx-auto"></div>
  <h2 class="font-display font-bold text-3xl md:text-4xl lg:text-5xl mb-6">
    Tentang Kami
  </h2>
  <p class="font-light text-gray-600 mb-6 leading-relaxed">
    Kampung Kuliner Pring Kuning merupakan Event Mbois dari Bunulrejo, yang
    diinisiasi oleh RT 2 RW 13 Kelurahan Bunulrejo, spirit warga ini yang
    menjadi tujuan untuk terus semua stakeholder berkolaborasi untuk
    mengembangkan lingkungan RW dengan tema-tema yang berbeda, sehingga akan
    menjadi sebuah stroytelling bagi pengembangan wisata dan budaya Bunulrejo
  </p>
  <p class="font-light text-gray-600 mb-6 leading-relaxed">
    Kampung Kuliner Pring Kuning yang diinisiasi oleh RT 2 RW 13 Kelurahan
    Bunulrejo menjadi cerita yang menarik, kalau digali lebih dalam memiliki
    potensi yang luar biasa. Pondasi bagi RW 13 Bunulrejo dapat dijabarkan ke
    dalam beberapa prespektif dibawah ini :
  </p>
  <ul
    class="font-light text-gray-600 mb-6 leading-relaxed list-decimal text-center flex items-center justify-center flex-col"
  >
    <li>
      Pernah mendapatkan penghargaan lingkungan oleh bapak Ayub selaku ketua RW
      13 Bunulrejo
    </li>
    <li>Jalan-jalan merupakan pahlawan dan tokoh kerajaan.</li>
    <li>
      Ada destinasi Langgar Panggung, yang merupakan sebuah bangunan heritage
    </li>
    <li>Pasar Bunulrejo sebagian masuk wilayah RW 13 Bunulrejo</li>
  </ul>
</div>

<div class="grid grid-cols-1 md:grid-cols-2">
  <div class="bg-white p-12 md:p-24 flex justify-start items-center">
    <img src="tim.jpg" class="w-full max-w-md" />
  </div>

  <div
    class="md:order-first bg-gray-100 p-12 md:p-24 flex justify-end items-center"
  >
    <div class="max-w-md">
      <div class="w-24 h-2 bg-yellow-800 mb-4"></div>
      <h2 class="font-display font-bold text-2xl md:text-3xl lg:text-4xl mb-6">
        Tim Abdimas UNMER Malang Dukung Pengembangan Kampung Kuliner “Pring
        Kuning” Bunulrejo
      </h2>
      <p
        class="font-light text-gray-600 text-sm md:text-base mb-6 leading-relaxed"
      >
        Semakin pesatnya usaha kuliner di wilayah Malang Raya turut mendorong
        tim pengadian masyarakat Universitas Merdeka (abdimas UNMER) Malang
        untuk memberikan kontribusi melalui program UNMER Membangun Desa (UMD)
        yang diprakarsai oleh Lembaga Penelitian dan Pengabdian Masyarakat
        (LPPM) UNMER Malang.
      </p>
      <p
        class="font-light text-gray-600 text-sm md:text-base mb-6 leading-relaxed"
      >
        Salah satunya adalah pengembangan Kampung Kuliner Pring Kuning yang
        terletak di Kelurahan Bunulrejo, Kecamatan Blimbing, Kota Malang.
        Generasi muda di wilayah tersebut berusaha menghadirkan konsep komunitas
        kuliner dengan menyuguhkan beragam menu seperti pisang coklat, nasi
        pecel, rice bowl, soto ayam dan bebagai kuliner khas Malang lainnya.
        Untuk itu, tim pengabdi UNMER Malang yang beranggotakan Dr. Mochammad
        Rofieq, S.Si., MT. (Teknik Industri), Dr. Roos Widjajani, M.Si.
        (Administrasi Bisnis) dan Dr. Nanny Roedjinandari, SST., Par., MM.
        (Diploma Kepariwisataan) berusaha untuk mengintegrasikan pengelolaan UKM
        dengan pengembangan wisata kampung kuliner serta pembinaan kemandirian
        dan kewirausahaan di wilayah tersebut.
      </p>
      <a
        target="_blank"
        href="https://unmer.ac.id/tim-abdimas-unmer-malang-dukung-pengembangan-kampung-kuliner-pring-kuning-bunulrejo/"
        class="inline-block border-2 border-yellow-800 font-light text-yellow-800 text-sm uppercase tracking-widest py-3 px-8 hover:bg-yellow-800 hover:text-white"
        >Lebih Lanjut</a
      >
    </div>
  </div>
</div>

<div class="flex flex-wrap bg-black">
  <div
    class="bg-black relative w-full md:w-auto md:flex-1 flex items-center justify-center h-72 font-heading text-white uppercase tracking-widest hover:opacity-75"
  >
    <div class="relative z-10">CUIMIE PANGSIT</div>
    <img
      src="cuimiepangsit.jpeg"
      class="absolute inset-0 w-full h-full object-cover opacity-50"
    />
  </div>
  <div
    class="bg-black relative w-full md:w-auto md:flex-1 flex items-center justify-center h-72 font-heading text-white uppercase tracking-widest hover:opacity-75"
  >
    <div class="relative z-10">CUIMIE FROZEN</div>
    <img
      src="cuimiefrozen.jpeg"
      class="absolute inset-0 w-full h-full object-cover opacity-50"
    />
  </div>
  <div
    class="bg-black relative w-full md:w-auto md:flex-1 flex items-center justify-center h-72 font-heading text-white uppercase tracking-widest hover:opacity-75"
  >
    <div class="relative z-10">KUE BASAH</div>
    <img
      src="kuebasah.jpeg"
      class="absolute inset-0 w-full h-full object-cover opacity-50"
    />
  </div>
  <div
    class="bg-black relative w-full md:w-auto md:flex-1 flex items-center justify-center h-72 font-heading text-white uppercase tracking-widest hover:opacity-75"
  >
    <div class="relative z-10">NASI KOTAK</div>
    <img
      src="nasikotak.jpeg"
      class="absolute inset-0 w-full h-full object-cover opacity-50"
    />
  </div>
  <div
    class="bg-black relative w-full md:w-auto md:flex-1 flex items-center justify-center h-72 font-heading text-white uppercase tracking-widest hover:opacity-75"
  >
    <div class="relative z-10">STEAK</div>
    <img
      src="steak.jpeg"
      class="absolute inset-0 w-full h-full object-cover opacity-50"
    />
  </div>
</div>

<div class="flex flex-wrap bg-black">
  <div
    class="bg-black relative w-full md:w-auto md:flex-1 flex items-center justify-center h-72 font-heading text-white uppercase tracking-widest hover:opacity-75"
  >
    <div class="relative z-10">RISOL MAYO & ES JUS</div>
    <img
      src="jual1.jpg"
      class="absolute inset-0 w-full h-full object-cover opacity-50"
    />
  </div>
  <div
    class="bg-black relative w-full md:w-auto md:flex-1 flex items-center justify-center h-72 font-heading text-white uppercase tracking-widest hover:opacity-75"
  >
    <div class="relative z-10">NASI PECEL</div>
    <img
      src="jual2.jpg"
      class="absolute inset-0 w-full h-full object-cover opacity-50"
    />
  </div>
  <div
    class="bg-black relative w-full md:w-auto md:flex-1 flex items-center justify-center h-72 font-heading text-white uppercase tracking-widest hover:opacity-75"
  >
    <div class="relative z-10">PIZZA</div>
    <img
      src="jual3.jpg"
      class="absolute inset-0 w-full h-full object-cover opacity-50"
    />
  </div>
  <div
    class="bg-black relative w-full md:w-auto md:flex-1 flex items-center justify-center h-72 font-heading text-white uppercase tracking-widest hover:opacity-75"
  >
    <div class="relative z-10">MILKSHAKE & COFFEE</div>
    <img
      src="jual4.jpg"
      class="absolute inset-0 w-full h-full object-cover opacity-50"
    />
  </div>
  <div
    class="bg-black relative w-full md:w-auto md:flex-1 flex items-center justify-center h-72 font-heading text-white uppercase tracking-widest hover:opacity-75"
  >
    <div class="relative z-10">FROZEN FOOD</div>
    <img
      src="jual5.jpg"
      class="absolute inset-0 w-full h-full object-cover opacity-50"
    />
  </div>
</div>

<div class="flex flex-wrap bg-black">
  <div
    class="bg-black relative w-full md:w-auto md:flex-1 flex items-center justify-center h-72 font-heading text-white uppercase tracking-widest hover:opacity-75"
  >
    <div class="relative z-10">KUE KERING & BASAH</div>
    <img
      src="jual6.jpg"
      class="absolute inset-0 w-full h-full object-cover opacity-50"
    />
  </div>
  <div
    class="bg-black relative w-full md:w-auto md:flex-1 flex items-center justify-center h-72 font-heading text-white uppercase tracking-widest hover:opacity-75"
  >
    <div class="relative z-10">KENTANG KRITING</div>
    <img
      src="jual7.jpg"
      class="absolute inset-0 w-full h-full object-cover opacity-50"
    />
  </div>
  <div
    class="bg-black relative w-full md:w-auto md:flex-1 flex items-center justify-center h-72 font-heading text-white uppercase tracking-widest hover:opacity-75"
  >
    <div class="relative z-10">ANEKA SAYURAN</div>
    <img
      src="jual8.jpg"
      class="absolute inset-0 w-full h-full object-cover opacity-50"
    />
  </div>
  <div
    class="bg-black relative w-full md:w-auto md:flex-1 flex items-center justify-center h-72 font-heading text-white uppercase tracking-widest hover:opacity-75"
  >
    <div class="relative z-10">ES COKLAT</div>
    <img
      src="jual9.jpg"
      class="absolute inset-0 w-full h-full object-cover opacity-50"
    />
  </div>
  <div
    class="bg-black relative w-full md:w-auto md:flex-1 flex items-center justify-center h-72 font-heading text-white uppercase tracking-widest hover:opacity-75"
  >
    <div class="relative z-10">SOSIS BAKAR</div>
    <img
      src="jual10.jpg"
      class="absolute inset-0 w-full h-full object-cover opacity-50"
    />
  </div>
</div>

<div
  class="bg-gray-900 text-white text-opacity-40 font-semibold uppercase text-xs tracking-widest bg-opacity-80 px-12"
>
  <div
    class="container mx-auto flex flex-col items-center justify-center space-y-4 text-center lg:text-left py-12"
  >
    <div>
      <div class="text-white opacity-50 text-2xl font-display text-center">
        Kampung Kuliner Pring Kuning
      </div>
    </div>
    <div>
      <div
        class="font-display text-white uppercase text-sm tracking-widest mb-4 text-center"
      >
        Jl. Sultan Hadiwijaya RT.02 RW.13 Bunulrejo Blimbing Malang Jawa Timur
      </div>
      <span class="block text-center">081945154379, 082337323299</span>
    </div>
  </div>
</div>
